html, body {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container
{
    width:100%;
    min-height:100vh;
   display:grid;
   grid-template-columns: 1fr 5fr;
   grid-template-rows:1fr 5fr;
   background-color:rgb(227, 227, 244) ;
   
    
}

.header
{
    grid-column:2/3;
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows:1fr 1fr;
    background-color: rgb(249, 248, 248);
    max-height:120px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.sidebar
{
  grid-column:1/2;
  grid-row:1/3;
  background-color: rgb(74, 74, 110);
  display:grid;
  grid-template-rows:auto auto 1fr;
  gap:45px;
}

.dashboard
{
  display:grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  padding-top:22px;
  padding-left:13px;
  
  
}

#dash_text
{
  font-weight: 500;
 color:rgb(238, 236, 248);
  font-size:23px;
}

#dash_icon
{
  height:31px;
  width:33px;
}


.nav_item
{
  display:grid;
  grid-template-columns: auto 1fr;
  column-gap:17px;
  padding-left:16px;
  padding-bottom:16px
}

.nav_icon
{
  height:20px;
  align-self:last baseline;
}

.nav_text
{
 color:rgb(238, 236, 248);
  font-size:17px;
  font-weight: 600;
}

.support_item
{
  display:grid;
  grid-template-columns: auto 1fr;
  column-gap:17px;
  padding-left:16px;
  padding-bottom:16px
}

.support_icon
{
  height:20px;
  align-self:last baseline;
}

.support_text
{
 color:rgb(238, 236, 248);
  font-size:17px;
  font-weight: 600;
}

.content
{
  display:grid;
  grid-template-columns: 3fr 1fr;
  background-color: rgb(227, 227, 244);
  max-width:1000px;
  
}

.yourproj
{
  position:relative;
  display:grid;
  max-width:660px;
  grid-template-columns:repeat(2,minmax(0,1fr));
  grid-template-rows:1fr 1fr 1fr;
  position:relative;
  gap:12px;
  padding:20px;
  padding-top:41px;
  margin-left:10px;
}

.right_section
{
  display:grid;
  gap:8px;
  grid-template-rows: auto;
  
  
  padding-bottom:20px;
  padding-top:3px;
  padding-right:40px;
  
}

.menu
{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  margin-right:40px;
  align-items:center;
  width:280px;
  margin-left:112px;
  
}

.search_icon
{
  
  height:20px;
  
  align-self: center;
  padding-left:13px;
  
  
}

input[type=search]
{
  width:80%;
  height:28px;
  margin-left:12px;
  background-color: rgb(227, 227, 244);
  border-radius:15px;
  border-style: none;
 
}

.search
{
  align-self:center;
  margin-top:4px;
  margin-left:8px;
  display:grid;
  grid-template-columns:auto 1fr;
  

  
}

.notify_icon
{
  height:23px;
  justify-self:end;

}

.display_pic
{
  height:31px;
  width:34px;
  border-radius:15px;
  
}

.notify
{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  align-items:center;
  justify-items:center;
  width:298px;
  margin-left:100px;
  
}

#user_name
{
  justify-self:start;
  font-weight: 600;
}

.profile_pic
{
  height:40px;
  width:44px;
  border-radius:25px;
}

.profile
{
  display:flex;
  align-items:center;
  gap:14px;
  margin-left:27px;
  margin-bottom:4px;
}

.profile_text
{
  display:flex;
  flex-direction:column;
  font-size:15px;
  font-weight: 600;
}

#hello_msg
{
  font-size:12px;
}

.btn_top
{
  border-style: none;
  width:75px;
  height:31px;
  border-radius:15px;
  cursor: pointer;
  background-color: rgb(74, 74, 110) ;
  color:white;
  font-size:13px;
  font-weight: 590;

  
}

.content_heading
{
  margin-left:22px;
  margin-top:4px;
  position:absolute;
  
}

.card
{
  
background: linear-gradient(to left, #fdfdfd 98%, rgb(46, 46, 104) 2%);
  padding-top:14px;
  padding-left:27px;
  background-color: white;
  max-width:265px;
  margin-bottom:15px;
  border-radius:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
  
}

.card_text
{
  max-width:230px;
  font-size:13px;
  color: rgb(98, 97, 97);
}

.card_icons
{
  padding-top:16px;
  display:flex;
  gap:16px;
  padding-left:144px;
  padding-bottom:13px;
  position:absolute;
  
}
.card_image
{
  width:18px;
  height:18px;
  
}

.card_title
{
  font-weight:bold;
  margin-bottom:3px;
  color:rgb(46, 46, 104) ;
}



.side_card
{
  background-color: white;
  padding-left:25px;
  padding-right:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  
}

#side_card1
{
  display:grid;
  
  gap:12px;
  border-radius:10px;
  padding-top:21px;
  padding-bottom:13px;
  margin-bottom:4px;
  margin-top:3px;
  
}

#side_card2
{
  display:grid;
  grid-template-rows:repeat(4,auto);
  gap:16px;
  border-radius:10px;
  padding-top: 18px;
  padding-bottom:18px;
  margin-bottom:110px;
  margin-top:4px;
  
  
}

.side_card_content
{
  display:flex;
  flex-direction:column;
  border-bottom: 1px solid #949494;
  padding-bottom:10px;
  
}

.side_card_content:last-child {
  border-bottom: none;
  padding-bottom:5px;
  
}


.side_card_title
{
  font-size:13px;
  font-weight:bold;
  margin-bottom:1px;
  color:rgb(46, 46, 104);
}

.side_card_text
{
  font-size:11px;
  color: rgb(98, 97, 97);
 
}

.trending_title
{
  margin-top:16px;
}

.trending_items
{
  display:grid;
  gap:16px;
  grid-template-columns: auto 1fr;
  align-items:center;
}

.trending_pic
{
  height:37px;
  width:37px;
  border-radius:18px;
  
}

.trending_text
{
  font-size:14px;
  font-weight: 500;
}

.trending_handle
{
  color:rgb(98, 97, 97);
}